* {
  padding:0;
  margin:0;
  }

body{
  background-color: #ADD8E6;
  font-family: sans-serif;
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-template-rows: 0.2fr 3fr 0.2fr;
  width: 100vw;
  height:100vh;
}

header{
  grid-column: 2/span 1;
  grid-row:1/span 1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-style: dashed;
  border-width:5px;
  min-width:100px;
}

h1{
  display:flex;
  justify-content: center;
  align-items: center;
	color: rgb(59, 42, 5);
	font-size: 200%;
	font-family: Tahoma, sans-serif;
	padding-top: 25px;

}


ul{
   color: black;
   font-size: 15px;
   justify-content:center;
   align-items:center;
}

li{
  display: inline;
  padding:10px;

}

a{
  color:#041B15;
  text-decoration: none;
  font-weight:bold;
}
ul .current{
  color:#38385C;
  text-decoration: underline;
}


h2{
  
  font-size: 70px;
  grid-row:2/span 1;
  grid-column:2/span 1;
  text-align:center;
}

.shopitems{
  padding-top:20px;
  grid-row:2/span 1;
  grid-column:2/span 1;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

main{
  padding-top:30px;
  grid-row:2/span 1;
  grid-column:2/span 1;
  display:flex;
  flex-direction:column;
}
article{
  padding-top:55px;
  font-size: 40px;
  text-align:center;
}

.shopimg{
  width: 400px;
  padding: 25px;
  grid-column: 2/ span 1;
}

.indeximg{
  max-width:350px;
  padding: 25px;
}

section{
  align-items:center;
}

.first{
  align-items:center;
  justify-content: center;
  align-items:center;
}

footer{
  display:flex;
  grid-row:3/span 1;
  grid-column:1/span all;
  font-size:20px;
  align-items:flex-end;
  color:cornsilk;
  background-color:#1a1102;
}